/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* STYLE */

body,html {
	color:#ccc;
	font-family: 'Open Sans', sans-serif;
	    overflow: hidden;
}
.content {
	height: 100%;
	width: 100%;
	display: block;
	overflow: hidden;
}
.sidebar {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 350px;
	background: white;
	display: block;
	z-index: 2;
}
.logo {
	height: 100px;
}

h1 {
	width: 100%;
	height: 100px;
	background: url('../img/logo.png') 35px center no-repeat;
	font-size: 38px;
	line-height: 100px;
	font-weight: 400;
	color: black;
	text-transform:uppercase;
	text-align: center;
}
h1 strong {
	font-weight: 600;
}
a {
	color: #575757;
}
a:hover {
	color: #ff4700;
}
strong {
	font-weight: 600;
}


.settings {
	padding:0 20px;
}
.settings h4 {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	border-bottom: 1px solid #b3b3b3;
	line-height: 30px;
	height: 30px;
	color: #b3b3b3;
	margin-top: 30px;
}
.settings h5 {
	color: #575757;
	margin: 20px 0 15px;
	font-size: 14px;
}

a.get-app {
	border: 1px solid #ff4700;
	font-weight: 400;
	font-size: 12px;
	text-align: center;
	width: 150px;
	height: 30px;
	margin: 10px auto;
	color: #4c4c4c;
	display: block;
	border-radius: 4px;
	line-height: 30px;
	text-transform: uppercase;
	background:white url('../img/miniwatch.png') 126px center no-repeat;
	cursor: pointer;
	transition:all 200ms ease;

}

a.get-app:hover {
opacity: .9;
background-color:rgba(255,47,0,0.1);
}

.settings .dither-type-select {
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.settings .dither-type-select:before {
	content: " ";
	box-shadow: inset 4px -4px 0 rgba(255,255,255,0);
	height: 10px;
	transform: rotate(-45deg);
	width: 20px;
	position: absolute;
	display: block;
	left: 64%;
	line-height: 1;
	z-index: 1;
	-webkit-transition: all 300ms ease;
	top: 15px;
}
.settings .dither-type-select.saved:after {
	box-shadow: inset 4px -4px 0 #ff4700;
}

.settings .dither-type-select:after {
  content: " ";
  position: absolute;
  display: block;
  font-size: 24px;
  right: 15px;
  line-height: 1;
  z-index: -1;
  -webkit-transition: color 200ms ease;
          transition: color 200ms ease;
    content: " ";
    position: absolute;
    margin-top: -2px;
    top: 50%;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ccc;

}
.settings .dither-type-select:hover:after {
      border-top: 5px solid #545454;
}
.settings .dither-type-select select {
  width: calc(100%);
  border: none;
  background-color: transparent;
  font: inherit;
  height: 40px;
  font-size: 15px;
  line-height: 35px;
  padding-left: 10px;
  padding-right: 65px;
  color: #212121;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}
.settings .dither-type-select select::-ms-expand {
  display: none;
}
.settings .dither-type-select select:focus {
  outline: none;
}

input.user-id {
	width: calc(68%);
	border: none;
	background-color: transparent;
	font: inherit;
	height: 40px;
	font-size: 15px;
	line-height: 35px;
	padding-left: 10px;
	padding-right: 10px;
	color: #212121;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: relative;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 3px;
	background: white;
	text-transform: uppercase;
}
.user-id-container {
  position: relative;
}

p.user-id-container-error-text {
	position: absolute;
	bottom: -15px;
    color: #575757;
    font-size: 12px;
	-webkit-transition: opacity 300ms ease;
	opacity: 0;
		pointer-events:none;

}
p.user-id-container-error-text.active {
	opacity: 1;
}

.user-id-container:after {
	content: " ";
	box-shadow: inset 4px -4px 0 rgba(255,255,255,0);
	height: 10px;
	transform: rotate(-45deg);
	width: 20px;
	position: absolute;
	display: block;
	left: 64%;
	line-height: 1;
	z-index: 1;
	-webkit-transition: box-shadow 300ms ease, opacity 300ms ease;
	top: 15px;
	opacity: 0;
}


.user-id-container.saved:after {
	box-shadow: inset 4px -4px 0 #ff4700;
	opacity: 1;
}

.user-id-container.error:after {
	content: "×";
    color: red;
    box-shadow: none;
    height: auto;
    width: auto;
    position: absolute;
    display: block;
    left: 64%;
    line-height: 1;
    z-index: 1;
    top: 0;
    transform: none;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    margin: 0;
    padding: 0;
    opacity: 1;
}



button.new-id {
	background: #ff4700;
	border-radius: 4px;
	border: none;
	height: 42px;
	width: calc(20% );
	margin-left: 10px;
	color:white;
	text-transform: uppercase;
	cursor: pointer;
}
button.new-id:hover {
	opacity: .9;
}
button.new-id:focus {
	outline: none;
}

.recent-uploads {
	height: 400px;
	width: calc(100% - 10px);
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: inset 0 2px 3px rgba(0,0,0,.1);
	margin-top: 20px;
	background: rgb(250,250,250);
	padding: 5px;
	overflow-y: scroll;
}
.recent-uploads p {
	padding: 10px;
    color: #575757;
    line-height: 22px;
    text-align: center;
    font-size: 14px;
}

.recent-uploads .thumbnail {
	margin: 10px;
	background: transparent;
	height: 75px;
	width: 75px;
	display: block;
	float: left;
	border-radius: 7px;
	overflow: hidden;
	position: relative;
		cursor: pointer;
}
.recent-uploads .thumbnail img {
	object-fit: contain;
	width: 80px;
	height: auto;
}



.thumbnail-cross {
	position: absolute;
	background: rgba(0,0,0,.5);
	bottom:0;
	left: 0;
	width:80px;
	height: 20px;
	opacity: 0;
	transition: all 200ms ease;
	color: #ff4700;
	text-align: center;
	line-height: 20px;
	font-size:12px;
}

.recent-uploads .thumbnail:hover .thumbnail-cross{
	opacity: 1;
}

.recent-uploads .thumbnail:nth-child(3n) {
	margin-right: 0;
}

.container {
	position: absolute;
	height: 100%;
	left: 350px;
	top: 0;
	background: #e7e7e7;
	z-index: 1;
	width: calc(100% - 350px);

}
.tip {
	position: absolute;
	width: 350px;
	height: 50px;
	left: calc(50% - 175px);
	background: white;
	border-radius: 4px;
	text-align: center;
	overflow: hidden;
	box-shadow:  0 1px 2px rgba(0,0,0,.1);
	opacity: 0;
	top: -50px;
	transition: all 300ms ease;
	z-index: 20;

	/* 
	.tip.hidden {
	-webkit-animation-direction: reverse; 
    animation-direction: reverse;

}

@-webkit-keyframes displayPopup {
    0% {
		top: -50px;
        opacity: 0;
    }
    100% {
		top: 10%;
        opacity: 1;
    }
}
@keyframes displayPopup {
    0% {
		top: -50px;
        opacity: 0;
    }
    100% {
		top: 10%;
        opacity: 1;
    }
}
*/

}
.tip.active {
	opacity: 1;
	top: 10%;
}

.tip span {
	display: block;
	float: left;
	color: white;
	line-height: 53px;
	background-color: #ff4700;
	font-size: 25px;
	font-weight: 400;
	width: 50px;
	margin-top: -3px;
}

.tip .text {
	line-height: 46px;
	text-align: center;
	height: 50px;
	float: left;
	padding: 0 7px;
	width: calc(100% - 14px - 50px);
	font-size: 14px;
}
.tip .text p {
	color: #444;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	margin: 0;
}
.tip.error span{
	background-color: #E5171F;
}
.tip.info span{
	background-color: #FF4700;
}
.tip.success span{
	background-color: #00B293;
}
.tip.neutral span{
	background-color: white;
	color: #FF4700;
}

.dropzone {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  text-align: center;
}

.dz-message span {
    position: absolute;
    top: 80%;
    left: 50%;
    text-align: center;
    width: 150px;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: #575757;
    opacity: .6;
    line-height: 22px;
}

.watchzone {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.watch {
	position: relative;
	height: 352px;
	width: 251px;
	opacity: 0.5;
	transform:scale(0.4);
	transition:all 1s;
	-webkit-transform:scale(0.7);
	-webkit-transition:all 0.4s ease-in-out;
	/*float: left;*/
	cursor: pointer;
	        box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: table-cell;
}

.watch.active {
	transform:scale(1);
	opacity: 1;
}
.watch .shadow {
	height: 20px;
	width: 200px;
	background: black;
	opacity: 0.1;
	margin:  20px auto;
	border-radius: 50%;
}

.preview-zone {
   -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
   box-sizing:         border-box;
}

.preview-zone.active /*, .watch.active .preview-zone:hover */ {
    box-shadow:inset 0 0 10px 5px #ff4700;
}
.watch.active .preview-zone:hover  {
    box-shadow:inset 0 0 10px 5px rgba(255,71,0,1);
}
.ptr .preview-zone{
	position: absolute;
	background: #aaaaaa;
	height: 180px;
	width: 180px;
    top: 87px;
    left: 36px;
    border-radius: 50%;
    overflow: hidden;
    background-image: url("../img/180.png");

}
.pt .preview-zone{
	position: absolute;
	background: #aaaaaa;
	height: 168px;
	width: 144px;
	left: 53px;
    top: 92px;
    border-radius: 11px;
    overflow: hidden;
    background-image: url("../img/144.png");

}
.pog .preview-zone{
	position: absolute;
	background: #aaaaaa;
	height: 168px;
	width: 144px;
	left: 53px;
    top: 94px;
    border-radius: 5px;
    overflow: hidden;
    background-image: url("../img/144nb.png");

}





/**************************
			HELP 
***************************/

.help {
	position: absolute;
	z-index: 10;
	background-color: rgba(255,255,255,0.5);
	height: 100%;
	width: calc(100% - 350px);
	padding-left: 350px;
}

.help button {
	position: absolute;
	left: calc(50% + 175px );
	top: 50%;
	transform:translate(-50%, -100%);
	width: 100px;
	height: 50px;
	margin: 0;
	font-size: 17px;
    font-weight: 400;
}
@-webkit-keyframes FadeIn { 
  0% { opacity:0; -webkit-transform:scale(0.95);}
  85% {opacity:1; -webkit-transform:scale(1.05);}
  100% {opacity:1;-webkit-transform:scale(1); }
}

.help .tip {
	top: 0;
	left: 0;
	-webkit-animation: FadeIn .3s linear;
	-webkit-animation-fill-mode:both; 
	animation: FadeIn .3s linear;
	animation-fill-mode:both; 
}

.help .tip .text p {
	width: 94%;
	text-align: left;
	margin-left: 3%;
	margin-right: 3%;
}
.help .tip img{
	position: absolute;
	right: 10px;
	top: -10px;
	width: 60px;
}

.help .tip:nth-child(1){ -webkit-animation-delay: .3s }
.help .tip:nth-child(2){ -webkit-animation-delay: .5s }
.help .tip:nth-child(3){ -webkit-animation-delay: 1s }
.help .tip:nth-child(4){ -webkit-animation-delay: 1.5s }
.help .tip:nth-child(5){ -webkit-animation-delay: 2s }

.help .tip.one {
	top: 100px;
	left: 280px;
}

.help .tip.two {
	top: 342px;
	left: 340px;
}
.help .tip.three {
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);

}
.help .tip.four {
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
}
.help .tip.five {
  left: 70%;
  top: 50%;
  width: 400px;
  transform: translate(-50%, -50%);
}


/**************************
	   CORNER INFO 
***************************/

.corner {
	position: absolute;
	top: -130px;
	right: -310px;
	height: 200px;
	width: 350px;
	background: white;
	border-radius: 3px;
	display: block;
	z-index: 21;
	overflow: hidden;
	transition:all 200ms ease;

	top: 0;
	right: 0;
	height: 40px;
	width: 40px;
}

.corner.active {
	top: 0;
	right: 0;
	height: 190px;
	width: 350px;

}

.corner .corner-content {
	font-size: 14px;
	padding: 10px 15px;
	color: #575757;
}

.corner .corner-content h3 {
	margin-bottom:15px;
	margin-top: 5px;
	text-align: center;
}

.corner .corner-content p {
	font-size: 13px;
	margin-bottom: 10px;
	line-height: 18px;
}
.corner .corner-content  a {
	text-decoration: none;
	font-weight: 600;
}

.corner-info {
	position: absolute;
	color : #b3b3b3;
    font-size: 20px;
    font-weight: 600;
    height: 40px;
    width: 40px;
    bottom: 0;
    left: 0;
    z-index: 22;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
    background: white;
    transition:all 200ms ease;
    opacity: 1;
}
.corner-info:hover {
	background-color: #ff4700;
	color: white;
}

.corner.active .corner-info {
	/*opacity: 0;
	pointer-events:none;*/
	bottom: 150px;
	left: 310px;
}