
	<div class="help">
		<div class="tip info one">
			<span>1</span>
			<div class="text">
				<p>Download the app for your Pebble</p>
			</div>

		</div>
		<div class="tip info two">
				<span>2</span>
				<div class="text">
					<p>Add the id to the watchapp settings</p>
				</div>
		</div>
		<div class="tip info three">
				<span>3</span>
				<div class="text">
					<p>Upload an image with the correct format</p>
				</div>
		</div>
		<div class="tip info four">
				<span>4</span>
				<div class="text">
					<p>Refresh your watch</p>
				</div>
				<img src="client/assets/img/pebble_button.jpg">
		</div>
		<div class="tip info five">
				<span>5</span>
				<div class="text">
					<p>You work in team ? Share the same library: <a href="http://half4.com/pixebble/#{{id}}">http://half4.com/pixebble/#{{id}}</a></p>
				</div>
		</div>


		<button class="new-id">Close</button>
	</div>