/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* STYLE */

body,html {
	color:#575757;
	font-family: 'Open Sans', sans-serif;
	background:white;
	font-size: 14px;
	line-height: 20px;
}
a {
	font-weight: 600;
	text-decoration: none;
	color: #575757;
}
a:hover {
	color: #ff4700;
}
.content {
	height: 100%;
	width: 100%;
	display: block;
	overflow: hidden;
}


h1 {
	height: 36px;
	width: 36px;
	margin: 20px auto;
	overflow: hidden;
	text-indent: -99999px;
	background: url(../img/minilogo.jpg) no-repeat center center;
}

h3 {
	text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #b3b3b3;
    line-height: 30px;
    height: 30px;
    color: #b3b3b3;
    margin: 30px;
    margin-bottom: 0;
}

p {
	padding: 20px 30px;
}


input[type=button] {
	width: 60%;
    height: 40px;
    background-color: #ff4700;
    border-radius: 5px;
    color: white;
    font-size:16px;
    border: 0;
    font-weight: 300;
    margin: 20px auto;
    display: block;
}



input.user-id {
	width: calc(100%  - 80px);
	border: none;
	background-color: transparent;
	font: inherit;
	height: 40px;
	font-size: 15px;
	line-height: 35px;
	padding-left: 10px;
	padding-right: 10px;
	color: #212121;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: relative;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 3px;
	background: white;
	text-transform: uppercase;
	margin: 0 30px;
}
.user-id-container {
  position: relative;
}

p.user-id-container-error-text {
	position: absolute;
	bottom: -18px;
    color: #575757;
    font-size: 12px;
	-webkit-transition: opacity 300ms ease;
	opacity: 0;
	pointer-events:none;
	padding:0;
	margin-left: 30px;
}
p.user-id-container-error-text.active {
	opacity: 1;
}

.user-id-container:after {
	content: " ";
	box-shadow: inset 4px -4px 0 rgba(255,255,255,0);
	height: 10px;
	transform: rotate(-45deg);
	width: 20px;
	position: absolute;
	display: block;
	left: 64%;
	line-height: 1;
	z-index: 1;
	-webkit-transition: box-shadow 300ms ease, opacity 300ms ease;
	top: 15px;
	opacity: 0;
}


.user-id-container.saved:after {
	box-shadow: inset 4px -4px 0 #ff4700;
	opacity: 1;
}

.user-id-container.error:after {
	content: "×";
    color: red;
    box-shadow: none;
    height: auto;
    width: auto;
    position: absolute;
    display: block;
    left: 80%;
    line-height: 1;
    z-index: 1;
    top: 0;
    transform: none;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    margin: 0;
    padding: 0;
    opacity: 1;
}

footer {
	position: absolute;
	bottom:10px;
	text-align: center;
	width: 100%;
}